<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Bluetooth 및 위치 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 앱 정보 및 액티비티 설정 -->
    <application
        android:usesCleartextTraffic="true"
        android:label="slomon"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/LaunchTheme">

        <!-- MainActivity 설정 -->
        <activity
            android:name="com.example.flutter_bluetooth_serial.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Flutter 초기화 테마 설정 -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- 앱 실행 인텐트 필터 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Flutter 기본 플러그인 설정 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- 앱에서 사용하는 특정 인텐트 쿼리 설정 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
